.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    margin:3rem 0 0;
}

.pageList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.navBtn, .pageBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    border-radius: var(--radius-md);
    font-size:1.4rem;
    color:var(--text-secondary-color);
    font-weight:500;
}
.navBtn:hover, .pageBtn:hover, .pageBtn.active{
    background:var(--primary-color-50);
    color:var(--primary-color-500);
}

.navBtn:disabled,
.pageBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
