.gridInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:2rem 0 1rem;
}
.leftBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}

.totalNm{
    font-size:1.4rem;
    color:var(--gray-color-400);
    font-weight:500;
}

.rightBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1.6rem;
}

.buttonWrap{
    display: flex;
    align-items: center;
    gap:1rem;
}

.buttonWrap:after{
    content:'';
    display: block;
    width:1px;
    height:3rem;
    background:var(--border-color);
    margin-left:0.6rem;
}

.gridPageSize{
    width:10rem;
}